{% extends "base.html" %}

{% block title %}Rooms for {{ hotel.name }}{% endblock %}

{% block content %}
<h1>Rooms for {{ hotel.name }}</h1>

<div class="d-flex justify-content-end mb-3">
    <a href="/hotels/{{ hotel.id }}/rooms/add" class="btn btn-primary">Add Room</a>
</div>

{% if rooms %}
    <ul class="list-group">
        {% for room in rooms %}
            <li class="list-group-item">
                <a href="/hotels/{{ hotel.id }}/rooms/{{ room.id }}" class="text-decoration-none">
                    <strong>{{ room.name }}</strong>
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No rooms available. You have not added any rooms yet.</p>
{% endif %}

<a href="/hotels/{{ hotel.id }}" class="btn btn-outline-secondary mt-3">Back to Hotel</a>
{% endblock %}
