{% extends "base.html" %}

{% block title %}Tickets for {{ event.name }}{% endblock %}

{% block content %}
<h1>Tickets for {{ event.name }}</h1>

<!-- Кнопка для добавления комнаты -->
<div class="d-flex justify-content-end mb-3">
    <a href="/events/{{ event.id }}/tickets/add" class="btn btn-primary">Add Ticket</a>
</div>

<!-- Проверяем, есть ли комнаты -->
{% if tickets %}
    <ul class="list-group">
        {% for ticket in tickets %}
            <li class="list-group-item">
                <!-- Ссылка на страницу комнаты -->
                <a href="/events/{{ event.id }}/tickets/{{ ticket.id }}" class="text-decoration-none">
                    <strong>{{ ticket.name }}</strong>
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No tickets available. You have not added any tickets yet.</p>
{% endif %}

<a href="/events/{{ event.id }}" class="btn btn-outline-secondary mt-3">Back to Event</a>
{% endblock %}
